
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');



:root {
    --mainColor: #9328E3;
    /* --secondColor: #a39b9b; */
    --secondColor: #6F6F6F;
    --mainSidebar: #8a9fbe;
    --white: #fff;
    --black: #000;
    --transparent: transparent;
    --input: #eee;
    --firstBoxShadow: 0px 4px 6px rgba(147, 147, 147, 0.26);
    --secondBoxShadow: 0px 4px 6px rgba(147, 147, 147, 0.5);
    --thirdBoxShadow: 0px 4px 6px rgba(147, 147, 147, 0.75);
}

body {
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);  
}

.bg-input {
    background-color: var(--input);
}

#ready {
    text-align: center;
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
    /* color: var(--white); */
    background-color: var(--black);
}

#msgBtn {
    cursor: pointer;
    z-index: 99999;
}

section,
header{
    overflow: hidden;
}

/* footer {
    overflow-x: hidden;
} */

a {
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    box-shadow: none;
}

/* i,
img,
video {
    cursor: pointer;
} */

.main-color {
    color: var(--mainColor) !important;
}

.main-bg {
    background-color: var(--mainColor);
}

.second-color {
    /* color: #636363; */
    color: var(--secondColor);
}

.second-bg {
    /* background-color: #636363; */
    background-color: var(--secondColor);
}

.main-btn {
    background-color: var(--mainColor);
    color: var(--white);
    border: 1px solid var(--mainColor) !important;
}

.main-btn:hover {
    background-color: var(--transparent);
    color: var(--mainColor);
}

.second-btn {
    background-color: var(--transparent);
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

.second-btn:hover {
    background-color: var(--mainColor);
    color: var(--white);
}


::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor) !important;
    border-radius: 40px !important;
}

::-webkit-scrollbar-track {
    background-color: #9328E320 !important;
    border-radius: 20px !important;
}


/* navbar */
.navbar.nav-total {
    box-shadow: var(--firstBoxShadow);
    background-color: var(--mainColor);
}

.navbar.nav-total .navbar-toggler {
    transition: all 0.25s;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.navbar.nav-total .navbar-toggler::before {
    content: '';
    position: absolute;
    width: 30px !important;
    height: 3px !important;
    /* background-color: var(--mainColor); */
    background-color: var(--white);
    transition: all 0.25s;
    transform: translateY(-10px);
    /* box-shadow: 0 10px 0 var(--mainColor); */
    box-shadow: 0 10px 0 var(--white) !important;
}

.navbar.nav-total .navbar-toggler.convert::before {
    transform: translateY(0px) rotate(45deg);
    /* box-shadow: 0 0 0 var(--mainColor); */
    box-shadow: 0 0 0 var(--white) !important;
}

.navbar.nav-total .navbar-toggler::after {
    content: '';
    position: absolute;
    width: 30px !important;
    height: 3px !important;
    /* background-color: var(--mainColor); */
    background-color: var(--white);
    transition: all 0.25s;
    transform: translateY(10px);
}

.navbar.nav-total .navbar-toggler.convert::after {
    transform: translateY(0px) rotate(-45deg);
}

.navbar.nav-total .navbar-toggler:focus,
.navbar.nav-total .navbar-toggler:hover {
    box-shadow: none;
}

.navbar.nav-total .navbar-nav li {
    margin: auto 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.nav-total .navbar-nav li a {
    /* color: #ACACAC; */
    /* color: var(--white); */
    color: #cdcdcd;
    /* color: var(--secondColor); */
    position: relative;
    font-weight: 500;
    /* font-size: 15px; */
    transition: all 0.25s;
    text-align: center;
    white-space: nowrap;
}

.navbar.nav-total .navbar-nav li a::before {
    content: '';
    position: absolute;
    width: 50%;
    opacity: 0;
    height: 1.5px;
    /* background-color: var(--mainColor); */
    /* background-color: var(--white); */
    background-color: #cdcdcd;
    bottom: 2px;
    right: 100%;
    transition: all 0.25s;
}

.text-en{
    text-align: left !important;
}

.text-ar{
    text-align: right !important;
}

.active {
    font-weight: 700 !important;
}

.active,
.navbar-nav a:focus,
.navbar-nav a:hover {
    /* color: var(--mainColor) !important; */
    color: var(--white) !important;
}

.active::before,
.navbar-nav a:focus::before,
.navbar-nav a:hover::before {
    right: 0% !important;
    transform: translateX(-50%) !important;
    background-color: var(--white) !important;
    opacity: 0.7 !important;
}

.navbar-collapse {
    /* background-color: rgba(0, 0, 0, 0.9); */
    transition: all 0.5s;
}

.custome .language {
    /* border: 1px solid var(--mainColor); */
    border: 1px solid var(--white);
    border-radius: 8px;
    /* background-color: var(--transparent); */
    background-color: var(--white);
    padding: 10px;
    cursor: pointer;
    color: var(--mainColor);
    box-shadow: var(--firstBoxShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
}

.language button{
    font-size: 16px;
    font-weight: 500;
    color: var(--mainColor);
    border: none;
    outline: none;
    background-color: var(--transparent);
    cursor: pointer;
    transition: all 0.25s;
}

/* .language i {
    margin-right: 6px;
} */

.custome .language:hover {
    background-color: var(--mainColor);
}

.custome .language:hover button,
.custome .language:hover h5 {
    color: var(--white) !important;
}

.custome .language:hover.language i {
    color: var(--white) !important;
}

/* .signup-btn a{
    border: 1px solid var(--mainColor) !important;
    border-radius: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: auto 1rem;
    transition: all 0.25s;
    white-space: nowrap;
}

.signin-btn a{
    border: 1px solid var(--mainColor) !important;
    border-radius: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: auto 1rem;
    transition: all 0.25s;
    white-space: nowrap;
} */


/* Responsive navbar */

@media screen and (max-width: 1400px) {
    .navbar.nav-total .navbar-nav li {
        margin: auto 0.3rem;
    }
}

@media screen and (max-width: 1200px) {
    .navbar.nav-total .navbar-nav li {
        margin: auto 0.15rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1055px) {
    .navbar.nav-total .navbar-nav li {
        margin: auto 0;
    }
}

@media screen and (max-width: 991.9px) {
    .navbar.nav-total .navbar-nav li {
        margin: 0.2rem 0;
    }

    /* .navbar .signin-btn,
    .navbar .signup-btn,
    .navbar .custome {
        display: inline-block !important;
    } */
}

@media screen and (min-width: 992px) {
    .special-w {
        width: 95% !important;
    }
}

/* @media screen and (min-width: 992px) and (max-width: 994px) {

    .navbar.nav-total .navbar-toggler {
        display: none !important;
    }
} */

@media screen and (max-width: 991.9px) {

    .navbar.nav-total .navbar-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .special-w {
        width: 90% !important;
    }

    /* .active::before,
    .navbar-nav a:focus::before,
    .navbar-nav a:hover::before {
        display: none !important;
    } */

    /* .navbar.nav-total .navbar-nav li a , .navbar.nav-total .navbar-nav li span {
        margin-bottom: 0.5rem;
    }

    .signup-btn a{
        margin: 1rem auto;
    }

    .signin-btn a{
        margin: 1rem auto;
    } */
}

@media screen and (max-width: 500px) {

    .navbar.nav-total .navbar-toggler {
        transition: all 0.25s;
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
    }

    .navbar.nav-total .navbar-toggler::before {
        width: 25px !important;
        height: 3px !important;
        transform: translateY(-8px);
        box-shadow: 0 8px 0 var(--white) !important;
    }

    .navbar.nav-total .navbar-toggler::after {
        width: 25px !important;
        height: 3px !important;
        transform: translateY(8px);
    }
}



/* footer */

.footer h4 , .footer h5 {
    text-transform: capitalize;
    /* color: var(--mainColor); */
    color: var(--white);
    font-weight: 600;
  }
  
  .footer p {
    /* color: #ECECEC; */
    /* color: var(--secondColor); */
    color: rgba(238, 238, 238, 0.75);
    letter-spacing: 1px;
    margin: 1rem 0;
    font-weight: 600;
    transition: all 0.3s;
  }
  
  .footer p:hover {
    color: #fff;
  }
  
  .icons-footer a {
    /* width: 40px;
    height: 40px; */
    padding: 5px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    /* margin-right: 15px; */
    /* font-size: 18px; */
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(154, 154, 154, 0.25);
  }
  
  .mr-15{
    margin-right: 15px;
    margin-left: 0;
  }
  
  .ml-15{
    margin-left: 15px;
    margin-right: 0;
  }
  
  .icons-footer i,
  .icons-footer img {
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icons-footer a .fa-facebook-f {
    color: #1877f2;
  }
  
  .icons-footer a .fa-twitter {
    color: #1da1f2;
  }
  
  .icons-footer a .fa-instagram {
    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }
  
  .icons-footer a .fa-whatsapp {
    /* width: 30px;
    height: 30px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background: #25d366;
    font-size: 22px !important;
  }
  
  .icons-footer a .fa-linkedin-in {
    color: #0077b5;
  }
  
  .navigate a {
    /* color: rgba(238, 238, 238, 0.75); */
    color: #cdcdcd;
    font-weight: 500;
    transition: all 0.3s;
    margin-bottom: 10px;
    white-space: nowrap;
    /* font-size: 15px; */
  }


  .navigate a.location {
    white-space: normal;
  }
  
  .bg-span{
    background-color: var(--secondColor);
    box-shadow: var(--secondBoxShadow);
    cursor: pointer;
  }
  
  .navigate a:hover, .navigate a:focus {
    color: var(--white);
    /* color: var(--mainColor); */
  }
  
  .navigate span {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--white);
    border-radius: 50%;
    /* color: #000 !important; */
    color: var(--mainColor) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigate span i {
    font-size: 12px;
  }
  
  .navigate div p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 570px) {
  
    h1 , .fs-1 , .h1{
        font-size: 26px !important;
    }
  
    h2 , .fs-2 , .h2{
        font-size: 22px !important;
    }
  
    h3 , .fs-3 , .h3{
        font-size: 20px !important;
    }
  
    h4 , .fs-4 , .h4{
        font-size: 18px !important;
    }
  
    h5 , .fs-5 , .h5{
        font-size: 16px !important;
    }
  
    h6 , .fs-6 , .h6 ,
    p , input {
        font-size: 14px !important;
    }
  
    .btn{
        font-size: 14px !important;
    }
  
  }
  
  @media screen and (max-width: 400px) {
  
    h1 , .fs-1 , .h1{
        font-size: 24px !important;
    }
  
    h2 , .fs-2 , .h2{
        font-size: 20px !important;
    }
  
    h3 , .fs-3 , .h3{
        font-size: 18px !important;
    }
  
    h4 , .fs-4 , .h4{
        font-size: 16px !important;
    }
  
    h5 , .fs-5 , .h5{
        font-size: 14px !important;
    }
  
    h6 , .fs-6 , .h6 ,
    p , input {
        font-size: 12px !important;
    }
  
    .btn{
        font-size: 12px !important;
    }
  
  }


  /* header-home */

.total-header {
    padding-top: 5rem;
  }
  
  .min-vh-70 {
    min-height: 70vh;
  }
  
  .caption h1 {
    font-size: 3.5rem;
    position: relative;
  }
  
  .caption p,
  .home-about .caption-about p {
    position: relative;
    width: 90%;
    font-size: 18px;
    line-height: 26px;
  }
  
  .gb-img .top-img {
    margin-bottom: 100px;
  }
  
  .buttons a {
    position: relative;
    border-radius: 8px;
    font-weight: 600;
    line-height: 22px;
    transition: all 0.3s;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  
  /* .black-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
  }
  
  .black-btn:hover {
    background-color: transparent;
    color: #000;
  }
  
  .second-btn {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
  }
  
  .second-btn:hover {
    background-color: #000;
    color: #fff;
  } */
  
  .caption,
  .img-header {
    position: relative;
    z-index: 2;
  }
  
  .img-header img {
    /* height:24rem; */
    position: relative;
    z-index: 2;
    /* transition: all 0.5s; */
  }
  
  /* .img-header img:hover{
    transform: scale(1.1,1.1);
  } */
  
  /* Responsive header section */
  
  /* @media screen and (min-width: 992px) {
    .caption {
        margin-left: 6rem;
    }
  } */
  
  @media screen and (max-width: 992px) {
    .total-header .row {
        flex-direction: column-reverse;
    }
  
    .total-header {
        padding-bottom: 2rem;
    }
  
    .caption {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    .caption h1 {
        font-size: 3rem;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .total-header {
        padding-top: 7rem;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .caption h1 {
        font-size: 2.5rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .caption h1 {
        font-size: 2rem;
    }
  }

  @media screen and (max-width: 400px) {
    .vector {
        display: none;
    }
  }


  /* services */

  .start-vector {
    left: 45%
  }

  .end-vector {
    right: 40%;
  }

  .service-item,
  .port-item {
    overflow: hidden;
  }

  .layer-caption {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    transition: all 0.75s;
  }

  .service-item:hover .layer-caption,
  .port-item:hover .layer-caption {
    left: 0;
    right: 0;
  }


  @media screen and (max-width: 992px) {
    .end-vector {
        right: 30%;
    }
  }

  @media screen and (max-width: 768px) {
    .end-vector {
        right: 25%;
    }
  }


  /* blogs */

  .blog-item , .blog-item img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.5s;
  }

  .blog-item {
    overflow: hidden;
  }

  .blog-item:hover img {
    transform: scale(1.1,1.1);
  }


  /* testimonials */

  .img-location {
    height: 60vh;
    background-image: url(../src/images/Home/OJO4YQ0\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }



  /* About page */

  .top-wave {
    height: 45vh;
    background-image: url(../src/images/About/Ellipse\ 9.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }


  @media screen and (max-width: 510px) {
    .top-wave {
      height: 35vh;
    }
  }

  .odd-number-en {
    left: -20px;
    right: auto;
  }

  .odd-number-ar {
    left: auto;
    right: -20px;
  }

  .even-number-en {
    right: -25px;
    left: auto;
  }

  .even-number-ar {
    right: auto;
    left: -25px;
  }


  /* portfolio page */

  .nav-pills .nav-link.active, .nav-pills .nav-link {
    color: var(--black);
    font-weight: 600;
 }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--mainColor);
 }



     /* packages page  */
.price{
  box-shadow: 0px 4px 6px rgba(147, 147, 147, 0.5);
  cursor: pointer;
  border-radius: 10px;
}
.price:hover .cont-pricing{
  border-color: var(--mainColor);
}
.price .name{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cont-pricing{
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: all 0.25s;
}

